/* 
didactic purposes
Some items are intentionally not optimized or not coded in the right way
FastTrackIT 2015,
version 1.0
*/

body {
    background-image: url("http://sweetclipart.com/multisite/sweetclipart/files/sheep_black.png");
    background-size: 100px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
    padding: 0;
    margin: 0;
}


h1 {
    font-size: large;
    background-color: dimgrey;
    color: white;
    padding-top: 2em;
    padding-bottom: .2em;
    padding-left: .4em;
    margin: 0;
}

#tagline p {
    font-style: italic;
    font-family: Georgia, Times, serif;
    background-color: #cbcccb;
    border-top: 3px solid #b2b4af;
    border-bottom: 3px solid #b2b4af;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
}

#header {
    position: absolute;
    border-top: 3px solid #b2b4af;
    width: 100%;
}

#navigation {

    /*width: 700px ;*/
    /*margin-top: 100px;*/
    /*margin-left: auto ;*/
    /*margin-right: auto ;*/
    /*width: 50%;*/
    /*margin: 0 auto;*/
    position: absolute;
    top: 110px;
    width: 200px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.46);

    color:black;
    padding-left: .8em;

}

#bodycontent {
    background-color: rgba(255, 255, 255, 0.46);
    position: absolute;
    left: 220px;
    top: 120px;
    padding-top:.4em;
    padding-left:2em;
    color:black;
    font-weight: bold;
}

#postcontent {
    background-color: rgba(255, 255, 255, 0.46);

    position: absolute;
    left: 450px;
    top: 110px;
    width: 200px;
    height:300px;

    color:white;
    padding-left: .8em;
;
}





#serverResponse {
    color:red;
    position: absolute;
    top: 210px;
    left: 220px;
    width: 200px;
    background-color: floralwhite;
    color: blue;
    padding-left: .8em;

}

.myButton {
    background-color:#000000;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #324a35;
    display:inline-block;
    cursor:pointer;
    color:#fafafa;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #40523d;
}
.myButton:hover {
    background-color:#555c51;
}
.myButton:active {
    position:relative;
    top:1px;
}












/* padding - between border and text -*/


/* class selector*/
.test {
    color: #aa0044;
}

.highlight {
    border-width: 10px;
    border-style: inset;
    border-color: #999999;
}